.container {
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;

  @include mobile {
    height: auto;
  }

  &::before {
    position: absolute;
    content: "";
    width: size(170px);
    height: size(170px);
    background:  rgba(228, 181, 132, 0.3);;
    border-radius: 50%;
    left: 12%;
    bottom: size(-100px);
    z-index: -1;

    @include mobile {
      display: none;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: size(20px);
    height: size(20px);
    background:  rgba(51, 149, 132, 0.2);
    border-radius: 50%;
    left: 39%;
    bottom: size(190px);
    z-index: -1;

    @include mobile {
      width: size(33px);
      height: size(33px);
      left: 87%;
      bottom: size(194px);
    }
  }
}